@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>Contoso University</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to Contoso University</h2>
        <p>
            Contoso University is a sample application that
            demonstrates how to use Entity Framework Core in an
            ASP.NET Core MVC web application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Build it from scratch</h2>
        <p>You can build the application by following the steps in a series of tutorials.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">See the tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Download it</h2>
        <p>You can download the completed project from GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/dotnet/AspNetCore.Docs/tree/master/aspnetcore/data/ef-mvc/intro/samples/cu-final">See project source code &raquo;</a></p>
    </div>
</div>
<div>
    <strong>James Gosling - The Java Language</strong>
    <h3>
        Java today can rightfully be called one of the most popular and most successful programming languages. The creator of this language is James Arthur Gosling, also known as the "Father of Java".

        Sun Microsystems is the original Java support and language development company. In January 2010, Sun was acquired by Oracle, and has since been responsible for Java support.

        The principle of WORA (White Once Run Anywhere - "Once written, works everywhere") is used as the basis of Java. It is the independence of Java from certain platforms that has become one of the main reasons for the success of this programming language in the corporate environment. Java is one of the most popular languages ​​today.
    </h3>
</div>
<div>
    <strong> Dennis Ritchie - Language C</strong>
    <h3>
        Dennis Ritchie worked on C from 1967-73 at AT&T Bell Labs. By now, the C language is still very popular and is constantly used in system programming. Despite the fact that this language is older than Java in age, it still holds its positions tightly. Ritchie is also the creator of the very famous Unix OS, which he created with his colleague Ken Thompson.

        Of course, Ritchie's popularity cannot be compared to Steve Jobs or Bill Gates. However, when it comes to contributions to the world of information technology, few people can compare with Ritchie - and this is worth knowing for every programmer.
    </h3>
</div>
<div>
    <strong> Bjorn Stroustrup - C ++</strong>
    <h3>
        Björn Staustrup is a Danish programmer known for creating the popular C ++ language. Already from the name it is clear that this is a new generation language that follows C. C ++ differs in that it supports the possibilities of object-oriented programming. At the time of the appearance of C ++, its capabilities, in comparison with C, looked very interesting.
    </h3>
</div>
<div>
    <strong>Guido van Rossum - Python language</strong>
    <h3>
        Python was created by Guido van Rossum of the Center for Computer Science and Mathematics and is a high-level language with a purpose.

        During the design of this language, a lot of attention was paid to the readability of the code, and its syntax is expressive and clean. In the United States, Python has practically replaced Java in the scientific community. This is reflected, among other things, in the fact that today's students are already mastering programming, starting with Python, and not with Java or C, as before. The language is constantly used in various fields, including web development and information security. Well-known companies like Spotyfy, Google and Yahoo use Python today.
    </h3>
</div>
<div>
    <strong>Brendan Eich - JavaScript</strong>
    <h3>
        JavaScript can be safely called the most popular language in the world over the past 5-10 years. And in the world of client-side web development, such a language dominates largely thanks to the existing JavaScript libraries. And the Node.js platform has allowed this language to become quite popular in the server environment.

        JavaScriptt is a scripting language that uses prototypal inheritance mechanisms.
    </h3>
</div>
<div>
    <strong>Rasmus Lehndorf - PHP language</strong>
    <h3>
        Initially, PHP was called Personal Home Page Tools, which means “Tools for working with personal web pages. The language was created back in 1995 by Rasmus Lerdorf. No matter how much you hate the language, you have nowhere to go from the fact that it is quite popular when developing server-side components of modern websites.

        The PHP reference implementation is currently being developed by The PHP Group. The language previously competed with such well-known technologies as Java Server Pages and Microsoft Active Server Pages, but in the end it was able to surpass both technologies and become much more in demand. This open source language is used by well-known companies such as Wordpress, Joomla, Facebook and Wikipedia.
    </h3>
</div>
<div>
    <strong>Yukihiro Matsumoto - Ruby language</strong>
    <h3> Ruby is a language created by Yukihiro Matsumoto in the 90s in Japan. Programming with Ruby is fun. In its inception, Ruby was influenced by languages ​​such as Lisp, Smalltalk, Ada, and Perl. This language was specially created with the expectation that it would be more pleasant and faster to write applications in it. Ruby is commonly used in the development of web applications, in particular, the language is used by companies such as Hulu, Twitter and Groupon.</h3>
</div>
<div>
    <h3> C# (произносится си шарп) — объектно-ориентированный язык программирования. Разработан в 1998—2001 годах группой инженеров компании Microsoft под руководством Андерса Хейлсберга и Скотта Вильтаумота[8] как язык разработки приложений для платформы Microsoft .NET Framework. Впоследствии был стандартизирован как ECMA-334 и ISO/IEC 23270.</h3>
</div>
